# Supabase
SUPABASE_URL="https://db.farmbzhpiyzskvyhcaug.supabase.co"
SUPABASE_DB_URL="postgresql://postgres:[YOUR-PASSWORD]@db.farmbzhpiyzskvyhcaug.supabase.co:5432/postgres"
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
